label {
	display: block;
}

input[type="text"], textarea, input[type="text"]:active, textarea:active {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgb(63,81,181);
	width: 20%;
} 

.alert {
	font-family: inherit;
	font-size: 12px;
} 

.alert-danger {
	color: red;
}