<mdl-layout-header-row>
  <mdl-layout-title>eUni</mdl-layout-title>
  <mdl-layout-spacer></mdl-layout-spacer>
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" routerLink="/">Головна</a>
    <a class="mdl-navigation__link" routerLink="/attendance">Журнал</a>
    <a class="mdl-navigation__link" routerLink="/courses">Дисципліни</a>
    <a class="mdl-navigation__link" routerLink="/students">Студенти</a>
  </nav>
  <mdl-layout-spacer></mdl-layout-spacer>
  <app-user-info></app-user-info>
</mdl-layout-header-row>
